# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
# Constants
SCHOOL_DATA_PATH = Path("Resources/schools_complete.csv")
STUDENT_DATA_PATH = Path("Resources/students_complete.csv")

In [3]:
# Read School Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(SCHOOL_DATA_PATH)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Read Student Data File and store into Pandas DataFrames
student_data_df = pd.read_csv(STUDENT_DATA_PATH)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
print(school_data_complete_df.shape)
school_data_complete_df.head()

(39170, 11)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [6]:
# Calculate the total number of unique schools

school_count = school_data_complete_df["school_name"].nunique()
school_count

15

In [7]:
# Calculate the total number of students
student_count = school_data_complete_df["Student ID"].nunique()
student_count

39170

In [8]:
# Calculate the total budget

total_budget = school_data_df["budget"].sum()
print("$",total_budget)

$ 24649428

In [9]:
# Calculate the average (mean) math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [10]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [11]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["Student ID"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [12]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["Student ID"]
#passing_reading_count

passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [13]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
    ].count()["Student ID"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [14]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% of Students That Passed Math": [passing_math_percentage],
                                "% of Students That Passed Reading": [passing_reading_percentage],
                                "% of Students That Passed Math and Reading":[overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students That Passed Math,% of Students That Passed Reading,% of Students That Passed Math and Reading
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [15]:
# Use the code provided to select all of the school types
# Use .first() to only list the first occurrence of each school_name and type.
school_types = school_data_complete_df.groupby(["school_name"])["type"].first()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [16]:
# Calculate the total student count per school
per_school_counts= school_data_complete_df["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [17]:
# Calculate the total school budget and per capita spending per school
per_school_budget=school_data_complete_df.groupby(["school_name"])["budget"].mean()
per_school_budget

# use total per school budget and divide by number of students
per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
# Calculate the average test scores per school
per_school_math = school_data_complete_df.groupby(["school_name"])["math_score"].mean()
per_school_reading = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()
print("Average Math Test Scores Per School")
print(per_school_math)
print("---------------------------------------")
print("Average Reading Test Scores Per School")
print(per_school_reading)

Average Math Test Scores Per School
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
---------------------------------------
Average Reading Test Scores Per School
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
# Calculate the number of students per school with math scores of 70 or higher

# First assign a variable to hold the math scores that are greater than or equal to 70.
students_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

# Show the number of passing math scores with each school.
per_school_students_passing_math=students_passing_math.groupby(["school_name"]).size()
per_school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [20]:
# Calculate the number of students per school with reading scores of 70 or higher

# First assign a variable to hold the reading scores that are greater than or equal to 70.
students_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Show the number of passing reading scores with each school.
per_school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
per_school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]
per_school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
per_school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [22]:
# Use the provided code to calculate the passing rates
per_school_passing_math = per_school_students_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_students_passing_reading / per_school_counts * 100
overall_passing_rate = per_school_students_passing_math_and_reading / per_school_counts * 100

print("Percent of Students Passing Math Per School")
print(per_school_passing_math)
print("-------------------------------------------------------------------------")
print("Percent of Students Passing Reading Per School")
print(per_school_passing_reading)
print("-------------------------------------------------------------------------")
print("Percent of Overall Passing Students Per School")
print(overall_passing_rate)

Percent of Students Passing Math Per School
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
-------------------------------------------------------------------------
Percent of Students Passing Reading Per School
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64
-------------------------------------------------------------------------
Percent of Overall Passing Students Per School
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [23]:
print(overall_passing_rate)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "Student Count Per School": per_school_counts,
    "Total School Budget" : per_school_budget,
    "Per Student Budget" : per_school_capita,
    "Average Math Test Scores Per School" : per_school_math,
    "Average Reading Test Scores Per School" : per_school_reading,
    "Number of Students Passing Math Per School" : per_school_students_passing_math,
    "Number of Students Passing Reading Per School" : per_school_students_passing_reading,
    "Number of Students Passing Overall Per School" : per_school_students_passing_math_and_reading,
    "Percent of Students Passing Math Per School" : per_school_passing_math,
    "Percent of Students Passing Reading Per School" : per_school_passing_reading,
    "Percent of Students Passing Overall Per School" : overall_passing_rate,
    "School Type": school_types
})


# Formatting, use .map() to transform each value in the given variable/series (Xpert Learning Assistant), {:,.2f} to make
# the value a float data type with 2 decimal places.
per_school_summary["Average  Math Test Scores Per School"] = per_school_summary["Average Math Test Scores Per School"].map("{:,.2f}".format)
per_school_summary["Average Reading Test Scores Per School"] = per_school_summary["Average Reading Test Scores Per School"].map("{:,.2f}".format)

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("{:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("{:,.2f}".format)

per_school_summary["Percent of Students Passing Math Per School"] = per_school_summary["Percent of Students Passing Math Per School"].map("{:,.2f}".format)
per_school_summary["Percent of Students Passing Reading Per School"] = per_school_summary["Percent of Students Passing Reading Per School"].map("{:,.2f}".format)
per_school_summary["Percent of Students Passing Overall Per School"] = per_school_summary["Percent of Students Passing Overall Per School"].map("{:,.2f}".format)

# Display the DataFrame
per_school_summary

,Student Count Per School,Total School Budget,Per Student Budget,Average Math Test Scores Per School,Average Reading Test Scores Per School,Number of Students Passing Math Per School,Number of Students Passing Reading Per School,Number of Students Passing Overall Per School,Percent of Students Passing Math Per School,Percent of Students Passing Reading Per School,Percent of Students Passing Overall Per School,School Type,Average Math Test Scores Per School
school_name,,,,,,,,,,,,,
Bailey High School,4976,"3,124,928.00",628.00,77.048432,81.03,3318,4077,2719,66.68,81.93,54.64,District,77.05
Cabrera High School,1858,"1,081,356.00",582.00,83.061895,83.98,1749,1803,1697,94.13,97.04,91.33,Charter,83.06
Figueroa High School,2949,"1,884,411.00",639.00,76.711767,81.16,1946,2381,1569,65.99,80.74,53.20,District,76.71
Ford High School,2739,"1,763,916.00",644.00,77.102592,80.75,1871,2172,1487,68.31,79.30,54.29,District,77.10
Griffin High School,1468,"917,500.00",625.00,83.351499,83.82,1371,1426,1330,93.39,97.14,90.60,Charter,83.35
Hernandez High School,4635,"3,022,020.00",652.00,77.289752,80.93,3094,3748,2481,66.75,80.86,53.53,District,77.29
Holden High School,427,"248,087.00",581.00,83.803279,83.81,395,411,381,92.51,96.25,89.23,Charter,83.80
Huang High School,2917,"1,910,635.00",655.00,76.629414,81.18,1916,2372,1561,65.68,81.32,53.51,District,76.63
Johnson High School,4761,"3,094,650.00",650.00,77.072464,80.97,3145,3867,2549,66.06,81.22,53.54,District,77.07
Pena High School,962,"585,858.00",609.00,83.839917,84.04,910,923,871,94.59,95.95,90.54,Charter,83.84
Rodriguez High School,3999,"2,547,363.00",637.00,76.842711,80.74,2654,3208,2119,66.37,80.22,52.99,District,76.84
Shelton High School,1761,"1,056,600.00",600.00,83.359455,83.73,1653,1688,1583,93.87,95.85,89.89,Charter,83.36
Thomas High School,1635,"1,043,130.00",638.00,83.418349,83.85,1525,1591,1487,93.27,97.31,90.95,Charter,83.42
Wilson High School,2283,"1,319,574.00",578.00,83.274201,83.99,2143,2204,2068,93.87,96.54,90.58,Charter,83.27
Wright High School,1800,"1,049,400.00",583.00,83.682222,83.95,1680,1739,1626,93.33,96.61,90.33,Charter,83.68

## Highest-Performing Schools (by % Overall Passing)

In [25]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = overall_passing_rate.sort_values(ascending = False)

# Make it into a df
top_schools_df = pd.DataFrame(top_schools)

# Rename the percent column
top_schools_df = top_schools_df.rename(columns={0: "Percent Overall Passing"})

# Format the percent values with map("{:,.2f}".format)
top_schools_df["Percent Overall Passing"] = top_schools_df["Percent Overall Passing"].map("{:,.2f}".format)

top_schools_df.head(5)

                    Percent Overall Passing
school_name
Cabrera High School                   91.33
Thomas High School                    90.95
Griffin High School                   90.60
Wilson High School                    90.58
Pena High School                      90.54

## Bottom Performing Schools (By % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = overall_passing_rate.sort_values(ascending = True)

# Make it into a df
bottom_schools_df = pd.DataFrame(bottom_schools)

# Rename the percent column
bottom_schools_df = bottom_schools_df.rename(columns={0: "Percent Overall Passing"})

# Format the percent values with map("{:,.2f}".format)
bottom_schools_df["Percent Overall Passing"] = bottom_schools_df["Percent Overall Passing"].map("{:,.2f}".format)

bottom_schools_df.head(5)

                      Percent Overall Passing
school_name
Rodriguez High School                   52.99
Figueroa High School                    53.20
Huang High School                       53.51
Hernandez High School                   53.53
Johnson High School                     53.54

## Math Scores by Grade

In [27]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
# Use the filters above in the groupby()
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "Ninth Grade Average Math Scores":ninth_grade_math_scores,
    "Tenth Grade Average Math Scores":tenth_grader_math_scores,
    "Eleventh Grade Average Math Scores":eleventh_grader_math_scores,
    "Twelth Grade Average Math Scores":twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Round decimals to two places
math_scores_by_grade["Ninth Grade Average Math Scores"] = math_scores_by_grade["Ninth Grade Average Math Scores"].map("{:,.2f}".format)
math_scores_by_grade["Tenth Grade Average Math Scores"] = math_scores_by_grade["Tenth Grade Average Math Scores"].map("{:,.2f}".format)
math_scores_by_grade["Eleventh Grade Average Math Scores"] = math_scores_by_grade["Eleventh Grade Average Math Scores"].map("{:,.2f}".format)
math_scores_by_grade["Twelth Grade Average Math Scores"] = math_scores_by_grade["Twelth Grade Average Math Scores"].map("{:,.2f}".format)

# Display the DataFrame
math_scores_by_grade

,Ninth Grade Average Math Scores,Tenth Grade Average Math Scores,Eleventh Grade Average Math Scores,Twelth Grade Average Math Scores
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36
Hernandez High School,77.44,77.34,77.14,77.19
Holden High School,83.79,83.43,85.00,82.86
Huang High School,77.03,75.91,76.45,77.23
Johnson High School,77.19,76.69,77.49,76.86
Pena High School,83.63,83.37,84.33,84.12
Rodriguez High School,76.86,76.61,76.40,77.69
Shelton High School,83.42,82.92,83.38,83.78
Thomas High School,83.59,83.09,83.50,83.50
Wilson High School,83.09,83.72,83.20,83.04
Wright High School,83.26,84.01,83.84,83.64

## Reading Score by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grader_reading_scores,
    "11th":eleventh_grader_reading_scores,
    "12th":twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]].applymap("{:,.2f}".format)
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

In [29]:
# Use .cut() to go through the data in the "Per Student Budget" and find values within the ranges of spending_bins and categorizing them based on that

# Convert "Total School Budget", "Average Math Test Scores Per School", "Average Reading Scores Per School",
# "Percent of Students Passing Math Per School", "Percent of Students Passing Reading Per School",
# and "Percent of Students Passing Overall Per School" to float64.

# First remove the commas from any numeric values with commas.
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].astype(float)
# per_school_summary["Average Math Test Scores Per School"] = per_school_summary["Average Math Test Scores Per School"].astype(float)
# per_school_summary["Average Reading Test Scores Per School"] = per_school_summary["Average Reading Test Scores Per School"].astype(float)
# per_school_summary["Percent of Students Passing Math Per School"] = per_school_summary["Percent of Students Passing Math Per School"].astype(float)
# per_school_summary["Percent of Students Passing Reading Per School"] = per_school_summary["Percent of Students Passing Reading Per School"].astype(float)
# per_school_summary["Percent of Students Passing Overall Per School"] = per_school_summary["Percent of Students Passing Overall Per School"].astype(float)

# per_school_summary.head()

# # Establish the bins 
# # The labels = [1,2,3,4] correspond to ["<$585", "$585-630", "$630-645", "$645-680"]
# spending_bins = [0, 585, 630, 645, 680]
# spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# # Categorize spending based on the bins
# # Convert "Per Student Budget" to integers
# # Convert "Per Student Budget" to integers
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].astype(float)

# # Categorize spending based on the bins
# per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"],
#                                                              bins=spending_bins, labels=spending_labels)



# # Calculate mean scores per spending range
# spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average  Math Test Scores Per School"].mean()
# # spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Test Scores Per School"].mean()
# # spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Percent of Students Passing Math Per School"].mean()
# # spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Percent of Students Passing Reading Per School"].mean()
# # overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Percent of Students Passing Overall Per School"].mean()


# # # Create a DataFrame to summarize the results
# # spending_summary = pd.DataFrame({
# #     "Average Math Score": spending_math_scores,
# #     "Average Reading Score": spending_reading_scores,
# #     "% Passing Math": spending_passing_math,
# #     "% Passing Reading": spending_passing_reading,
# #     "% Overall Passing": overall_passing_spending
# # })

# # # Display the spending summary DataFrame
# # spending_summary

In [30]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [31]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

SyntaxError: invalid syntax (416621729.py, line 2)

In [32]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

KeyError: 'Spending Ranges (Per Student)'

In [33]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

SyntaxError: invalid syntax (1784604702.py, line 2)

## Scores by School Size

In [34]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [35]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Student Count Per School"], bins=size_bins, labels=size_labels)

per_school_summary

,Student Count Per School,Total School Budget,Per Student Budget,Average Math Test Scores Per School,Average Reading Test Scores Per School,Number of Students Passing Math Per School,Number of Students Passing Reading Per School,Number of Students Passing Overall Per School,Percent of Students Passing Math Per School,Percent of Students Passing Reading Per School,Percent of Students Passing Overall Per School,School Type,Average Math Test Scores Per School,School Size
school_name,,,,,,,,,,,,,,
Bailey High School,4976,"3,124,928.00",628.00,77.048432,81.03,3318,4077,2719,66.68,81.93,54.64,District,77.05,Large (2000-5000)
Cabrera High School,1858,"1,081,356.00",582.00,83.061895,83.98,1749,1803,1697,94.13,97.04,91.33,Charter,83.06,Medium (1000-2000)
Figueroa High School,2949,"1,884,411.00",639.00,76.711767,81.16,1946,2381,1569,65.99,80.74,53.20,District,76.71,Large (2000-5000)
Ford High School,2739,"1,763,916.00",644.00,77.102592,80.75,1871,2172,1487,68.31,79.30,54.29,District,77.10,Large (2000-5000)
Griffin High School,1468,"917,500.00",625.00,83.351499,83.82,1371,1426,1330,93.39,97.14,90.60,Charter,83.35,Medium (1000-2000)
Hernandez High School,4635,"3,022,020.00",652.00,77.289752,80.93,3094,3748,2481,66.75,80.86,53.53,District,77.29,Large (2000-5000)
Holden High School,427,"248,087.00",581.00,83.803279,83.81,395,411,381,92.51,96.25,89.23,Charter,83.80,Small (<1000)
Huang High School,2917,"1,910,635.00",655.00,76.629414,81.18,1916,2372,1561,65.68,81.32,53.51,District,76.63,Large (2000-5000)
Johnson High School,4761,"3,094,650.00",650.00,77.072464,80.97,3145,3867,2549,66.06,81.22,53.54,District,77.07,Large (2000-5000)
Pena High School,962,"585,858.00",609.00,83.839917,84.04,910,923,871,94.59,95.95,90.54,Charter,83.84,Small (<1000)
Rodriguez High School,3999,"2,547,363.00",637.00,76.842711,80.74,2654,3208,2119,66.37,80.22,52.99,District,76.84,Large (2000-5000)
Shelton High School,1761,"1,056,600.00",600.00,83.359455,83.73,1653,1688,1583,93.87,95.85,89.89,Charter,83.36,Medium (1000-2000)
Thomas High School,1635,"1,043,130.00",638.00,83.418349,83.85,1525,1591,1487,93.27,97.31,90.95,Charter,83.42,Medium (1000-2000)
Wilson High School,2283,"1,319,574.00",578.00,83.274201,83.99,2143,2204,2068,93.87,96.54,90.58,Charter,83.27,Large (2000-5000)
Wright High School,1800,"1,049,400.00",583.00,83.682222,83.95,1680,1739,1626,93.33,96.61,90.33,Charter,83.68,Medium (1000-2000)

In [36]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Test Scores Per School"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Test Scores Per School"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Percent of Students Passing Math Per School"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Percent of Students Passing Reading Per School"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Percent of Students Passing Overall Per School"].mean()

TypeError: Could not convert 83.8184.04 to numeric

In [37]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

# Use the .groupby() method to group school size based on performance (Xpert Learning Assistant)
size_summary = per_school_summary.groupby("School Size").agg({
    "Average Math Test Scores Per School": "mean",
    "Average Reading Test Scores Per School": "mean",
    "Percent of Students Passing Math Per School": "mean",
    "Percent of Students Passing Reading Per School": "mean",
    "Percent of Students Passing Overall Per School": "mean"
})

# Display results
size_summary

TypeError: Could not convert 83.8184.04 to numeric

## Scores by School Type

In [38]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Test Scores Per School"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Test Scores Per School"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Percent of Students Passing Math Per School"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Percent of Students Passing Reading Per School"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Percent of Students Passing Overall Per School"].mean()

TypeError: Could not convert 83.9883.8283.8184.0483.7383.8583.9983.95 to numeric

In [39]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary

SyntaxError: invalid syntax (3938338981.py, line 2)